.fifthSection_parent_div {
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../accets/secondSection/cartOne.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 15px;
}
.FifthSection_heading {
  margin-bottom: 100px;
  font-size: 35px;
}
.fifthSection_grid_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 65%;
  margin: auto;
}

.fifthSection_icon {
  font-size: 70px;
}
.fifthSection_grid_div div p {
  font-size: 20px;
  margin-top: 15px;
  /* font-weight: 500; */
}
