.second_section_parent_div {
  margin-top: 100px;
}
.secondSection_p {
  width: 45%;
  margin: auto;
  margin-bottom: 30px;
}
.second_section_grid_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: auto;
  gap: 30px;
}
.second_section_cart {
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.second_section_cart img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}
.second_section_cart_div {
  padding: 10px;
}
.second_section_cart img {
  width: 100%;
  /* height: 50%; */
  object-fit: cover;
}
.second_section_btn {
  border: none;
  background-color: white;
  color: #0767a7;
  cursor: pointer;
  margin-left: -5px;
  margin-top: 15px;
}
