.home_videoGallery_parent_div {
  margin-bottom: 30px;
  background-color: #f7f6f6;
  padding: 30px;
  margin-top: 50px;
}
.home_videoGallery_title {
  margin-bottom: 50px;
  color: black;
  font-size: 2rem;
}
.home_video_gallery_grid_div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 65%;
  gap: 20px;
  margin: auto;
  margin-bottom: 20px;
}
.video_iframe {
  width: 100%;
  height: 315px;
}

@media screen and (max-width: 1536px) {
  .home_video_gallery_grid_div {
    width: 90%;
  }
}
@media screen and (max-width: 1250px) {
  .home_video_gallery_grid_div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .home_video_gallery_grid_div {
    grid-template-columns: repeat(1, 1fr);
  }
}
