.forthSection_grid_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 65%;
  margin: auto;
  margin-top: 100px;
}
.forthSection_text_div {
  text-align: left;
}
/* FORM STYLE */
.appointment-form-container {
  max-width: 450px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 12px;
  background: #f9fafb;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.appointment-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1f2933;
}

.appointment-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.appointment-form input,
.appointment-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 15px;
}

.appointment-form input:focus,
.appointment-form textarea:focus {
  outline: none;
  border-color: #2563eb;
}

.appointment-form button {
  padding: 14px;
  background-color: #2563eb;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.appointment-form button:hover {
  background-color: #1e40af;
}
