.six_section_grid_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 65%;
  margin: auto;
  gap: 25px;
}
.six_section_cart_div {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
}
.six_section_cart_div img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.six_section_cart_text_div {
  text-align: left;
  padding: 10px;
}
.six_section_cart_text_div small {
  color: #0767a7;
}
.six_section_cart_text_div h3 {
  margin-bottom: 10px;
}

.six_section_btn {
  margin-top: 30px;
  border: 1px solid #0767a7;
  padding: 10px;
  width: 10%;
  border-radius: 20px;
  color: #0767a7;
  font-size: 15px;
  cursor: pointer;
}
.six_section_btn:hover {
  background-color: #0767a7;
  color: white;
}
