.six_section_parent_div {
  margin-top: 100px;
}
.six_section_parent_div h1 {
  margin-bottom: 50px;
}
.six_section_grid_div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;
  margin: auto;
  gap: 30px;
  height: 450px;
  /* background-color: #0767a7; */
}
.six_section_grid_div div {
}
.six_section_grid_div img {
  border: 10px solid rgb(209, 209, 209);
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.six_section_btn {
  border: 1px solid #0767a7;
  padding: 10px;
  width: 10%;
  border-radius: 20px;
  color: #0767a7;
  font-size: 15px;
  cursor: pointer;
}
.six_section_btn:hover {
  background-color: #0767a7;
  color: white;
}
